/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(111, 0, 255);
}

header .logo{
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: #f4f2f3;
}

header .logo h1{
    font-size: 2rem;
    margin-left: 10px;
}

header .logo span i{
   font-size: 2rem;
}

header ul{
    list-style: none;
    margin-right: 30px;
}

header ul li{
    font-size: 1.3rem;
    color: #f4f2f3;
}
