html.modal-active, body.modal-active {
    overflow: hidden;
  }

#modal-container{
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    transform: scale(0);
    z-index: 1;
}

#modal-container.two{
    transform: scale(1);
}

#modal-container .modal-background{
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    text-align: center;
}

#modal-container .modal-background .modal {
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }

.modal-background .modal .modal-heading{
    margin-bottom: 10px;
}

.modal-background .modal .modal-heading h3{
    color: #fff;
    background-color: #6F00FF;
    font-size: 1.4rem;
    font-weight: 400;
}
.modal-background .modal .modal-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.modal-background .modal .modal-content .form-group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 10px;
    margin-top: -20px;
    margin-left: -10px;
}

.modal-background .modal .modal-content .form-group label {
    margin-bottom: 5px;
    color: #6F00FF;
    font-weight: 600;
    font-size: 18px;
}

.modal-background .modal .modal-content .form-group input {
    display:block;
    width:100%;
    padding:10px;   
}

.modal-background .modal .modal-content  .form-group textarea{
    height: 50px;
    width:100%;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}

.modal-background .modal .modal-content  .horizontal-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.modal-background .modal .modal-content  .horizontal-group div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.modal-background .modal .modal-content  .horizontal-group div label{
   font-size: 18px;
   float: left;
   margin-bottom: 6px;
   color: #6F00FF;
   font-weight: 600;
}

.modal-background .modal .modal-content  .horizontal-group div input{
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}

.modal-background .modal .modal-content  .horizontal-group div select{
    height: 35px;
    width: 150px;
    outline: none;
    font-size: 15px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}

.modal-background .modal .modal-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal-background .modal .modal-footer button{
    width: 110px;
    height: 35px;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#close-btn{
    background-color: #E23D28;
    color: #fff;
}

 #close-btn:hover{
    background-color: #fff;
    color: #E23D28;
    border: 2px solid #E23D28;
    font-weight: 600;
}

#reset-btn{
    background-color: #6F00FF;
    color: #fff;
}

 #reset-btn:hover{
    background-color: #fff;
    color: #6F00FF;
    border: 2px solid #6F00FF;
    font-weight: 600;
}

#submit-btn{
    background-color: #4CBB17;
    color: #fff;
}

#submit-btn:hover{
    background-color: #fff;
    color: #4CBB17;
    border: 2px solid #4CBB17;
    font-weight: 600;
}

  #modal-container.two .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two .modal-background .modal {
    opacity: 0;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two + main {
    animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
  }
  #modal-container.two.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out .modal-background .modal {
    animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out + main {
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  @keyframes fadeIn {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  @keyframes fadeOut {
    0% {
      background: rgba(0, 0, 0, 0.7);
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }
  @keyframes scaleUp {
    0% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
  }
  @keyframes scaleBack {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.85);
    }
  }

  @keyframes scaleForward {
    0% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes quickScaleDown {
    0% {
      transform: scale(1);
    }
    99.9% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }